 body {
     background-color: rgb(194, 206, 208);
 }

 #output {
     white-space: pre-line;
 }

 .form-content {
     margin-top: 50px;
 }

 .dropdown-content {
     margin-top: 50px;
 }

 .dropdown {
     padding-right: 10px;
 }

 .question-box {
     padding-left: 10px;
 }

 .output-container {
     padding: 10px;
     margin: auto;
 }